body {
    background-color: #222;
    color: aliceblue;
}

header {
    background-color: #232323;
    box-shadow: 0 1px 8px #000;
}

header a {
    text-decoration: none;
    color: #ddd;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #555;
}