<!DOCTYPE html>
<html lang="en">
<body  style="text-align: center;">

<form action="users/login" method="post">
    <input type="email" name="email" placeholder="Seu email"><br>
    <input type="password" name="senha" placeholder="Seu senha"><br>
    <label for="darkmode">Darkmode? </label><input type="radio" name="darkmode" id="darkmode"><br>
    <input type="submit" value="Entrar">
</form>
<div>Não tem conta? <a href="/cadastro">Cadastre-se</a></div>